.App {
  font-family: 'Nanum Pen Script', cursive;
}

h1 {
  padding-left: 30px;
}

h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../public/images/snowy-road-in-the-forest-picjumbo-com.jpg");
  background-size: cover;
}

p {
  padding-left: 30%;
  padding-right: 30%;
}

h4 {
text-align: center;
}

h5 {
  padding-left: 30%;
  padding-right: 30%;
}

a {
  padding-left: 30%;
  padding-right: 30%;
}
