html {
  background-color: #a39493;
  color: #514a49;
  font-family: 'Amatic SC', cursive;
}

.App {
  font-family: 'Amatic SC', cursive;
  font-size: x-large;
  background-color: #a39493;
  color: #edecea;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.Header {
  background-color: #514a49;
  color: #edecea;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  padding-left: 30px;
}

h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url('./images/snowy-road-in-the-forest-picjumbo-com.jpg');
  background-size: cover;
  font-size: 200% !important;
  color: #514a49 !important;
}

p {
  padding-left: 15%;
  padding-right: 15%;
}

h3 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #edecea !important;
}

h5 {
  padding-left: 15%;
  padding-right: 15%;
}

.c {
  text-align: center;
  background-color: #514a49;
  margin: 100px 25%;
  padding: 50px 0px;
  font-size: 125% !important;
}

.C {
  text-align: center;
  background-color: #514a49;
  margin: 100px 33%;
  padding: 50px 0px;
  font-size: 125% !important;
}

a {
  text-decoration: none !important;
  color: #edecea !important;
}

.ab {
  padding-left: 15%;
  padding-right: 15%;
}

.hobbies-list,
.experience-list {
  padding-left: 15%;
  padding-right: 15%;
}

.experience-list {
  display: inline-grid;
  grid-template-columns: auto auto;
}

.exp {
  padding-right: 150px;
  padding-bottom: 50px;
}

.hobbies-list img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.hr,
.mtsu,
.apsu {
  display: inline-grid;
  grid-template-columns: auto auto;
}

.hrimg {
  padding-right: 10px;
  padding-bottom: 70px;
  width: 450px;
}

.mtsuimg {
  padding-right: 10px;
  width: 450px;
}

.apsuinfo {
  padding-right: 10px;
  width: 450px;
}

.apsuinfo {
  padding-top: 10%;
}

.mtsuinfo {
  padding-top: 30%;
}

.Header span {
  padding-left: 150px;
}

.mtsuimg img {
  height: auto;
  width: 350px;
  padding-bottom: 30px;
}

.experience,
.education,
.hobbies {
  font-weight: bolder;
  border: #a39493 2px solid;
}

.Experience,
.Education,
.Hobbies {
  background-color: #514a49;
  margin-left: 15%;
  margin-right: 15%;
}

.me {
  height: 500px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}

.BM {
  text-align: center;
  font-size: 150% !important;
}

.pr {
  color: #edecea;
  background-color: #514a49;
  margin: 50px 100px 0px;
  padding: 30px 0px 50px;
}

.BMlist {
  margin-left: 25%;
}

video {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

.skills {
  text-align: center;
  list-style-type: none;
}

.mskills {
  font-size: 20px;
}
